apiVersion: v1
kind: Service
metadata:
  name: etcd
spec:
  selector:
    app: etcd
  ports:
    - protocol: TCP
      port: 2379
      targetPort: 2379

---
apiVersion: v1
kind: Service
metadata:
  name: certslurpd-head-api
spec:
  selector:
    app: certslurpd-head
  ports:
    - protocol: TCP
      port: 8080
      targetPort: 8080
  type: ClusterIP