name: Certslurp Test Suite

on:
  workflow_dispatch:
  push:
    branches: [main, master]
  pull_request:
    branches: ["*"]

concurrency:
  group: test-pr-${{ github.workflow }}-${{ github.ref }}
  cancel-in-progress: true

jobs:
  test:
    name: Certslurp Test Suite
    runs-on: ubuntu-latest
    timeout-minutes: 20

    steps:
      - name: Checkout Repository
        uses: actions/checkout@11bd71901bbe5b1630ceea73d27597364c9af683 # v4.2.2

      - uses: actions/setup-go@0aaccfd150d50ccaeb58ebd88d36e91967a5f35b # v5.4.0
        with:
          go-version-file: 'go.mod'

      - name: Run Tests
        shell: bash
        run: |
          make test

      - name: Upload Test Coverage
        uses: actions/upload-artifact@ea165f8d65b6e75b540449e92b4886f43607fa02 # v4.6.2
        with:
          name: "coverage"
          path: ./cover.*